body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: scroll;
}

.inner {
    background: white;
}

.recipe-box {
    width: 400px !important;
    height: 120px !important;
}

.result {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}

.recipe-box {
    position: relative;
    top: 30px !important;
    bottom: 40px !important;
    margin-top: 15px !important;
}

.centered {
    position: relative;
    margin: 0 auto;
    color: white;
    left: 450px;
    top: 50px;
}

.mod {
    display: none;
    position: absolute;
    text-align: center;
    border: 1px solid #CCC;
    width: 300px;
    min-height: 250px;
    height: auto;
    top: 20px;
    left: 35%;
    background: white;
}

h2 a {
    position: relative;
    margin-left: 20px;
    top: 10px;
    color: white !important;
}

#recipe-content {
    position: relative;
    margin-left: 20px;
    top: 10px;
}

#recipe-content a {
    color: white !important;
    text-decoration: underline;
}

.recipe-body p{
    font-size: 1.5em;
    margin-top: 10px;
}

.box-shadow {
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

.mod input {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    top: 10px;
}

.box {
    width: 800px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background-color: rgba(0,0,0,0.85);
    background: url(../img/dotted-dark-overlay-bg.png);
}

.search {
    width: 30%;
    margin-top: 5%;
    min-height: 130px;
    height: auto;
}

.ingredient {
    position: relative;
    left: 65px;
    top: 50px;
    margin-bottom: 10px;
}

.badge {
    padding: 6px 8px 4px;
    display: table;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 15px;
}

span a, span a:hover {
    color: #fff;
    text-decoration: none;
}

.error {
    border-color: #dd3c10;
}

input.error:focus  {
  border-color: #ad2f0d;
  -webkit-box-shadow: 0 0 6px #f37f60;
  -moz-box-shadow: 0 0 6px #f37f60;
  box-shadow: 0 0 6px #f37f60;
}

    

#search {
    position: relative;
    margin-left: 44%;
    margin-top: 15%;
    margin-bottom: 5%;
}

#signup-modal {
    width: 300px !important;
    height: 300px !important;
    left: 700px;
}

#new-recipe {
    position: relative;
    float: right;
    color: white !important;
    display: block;
    right: 380px;
    top: 50px;
    width: 100px;
    height: 30px;
    text-align: center;
}

#login-modal {
    width: 300px;
    left: 700px;
}

#signup-modal .modal-footer {
    margin-top: 80px;
}

#logo {
    position: relative;
    width: 45%;
    height: 90%;
    left: 135px;
    bottom: 40px;
}

#main p {
    font-size: 2em;
}

#main h1 {
    font-size: 3em;
}
.shadow {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    color: #EBEBEB !important;
}


#main-content {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 200px;
    left: 70px;
    top: 50px;
}


.link {
    color: white !important;
    text-decoration: underline;
    font-size: 1.2em;
    margin-left: 10px;
}

.footer-box {
    background: rgba(0, 0, 0, 0.8);
    width: 253px;
    height: 170px;
}

#footer {
    position: relative;
    margin-left: 160px;
    bottom: 30px;
}

.welcome img {
    position: relative;
    top: 30px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background: url(../img/profile-picture-default.jpg) no-repeat;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: inline;
}

.welcome center:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-backface-visibility: hidden;
}

.welcome h3 {
    position: relative;
    top: 10px;
    color: white;
    display: inline;
    bottom: 25px;
    margin-left: 1%;
}
