<div class="modal-header">
    <h3>Nova receita</h3>
</div>
<div class="modal-body">
    <input type="text" placeholder="Nome da Receita" id="recipe-name"/> <br/><br/>
    <input type="text" placeholder="Ingredients" id="recipe-ingredients" data-original-title="Dica!" data-content="Separe os ingredientes por vírgulas!" /> <br/><br/>
    <input type="text" placeholder="Descrição" id="recipe-description" /> <br/><br/>
    <textarea  placeholder="Modo de preparo" id="recipe-preparation"/> <br/><br />
</div>
