<td>{{id}}</td>
<td class="editable" id="current-recipe-name">{{name}}</td>
<td class="editable" id="current-recipe-description">{{description}}</td>
<td>
  <a href="javascript:void(0)" id="excluir">Excluir</a>
</td>