<section id="main-content">
    <img id="logo" class="shadow" src="img/logo01.png" alt="" width="300" height="150" />
    <p class="shadow">Aqui você consegue as melhores receitas </p>
    <p class="shadow">usando apenas os ingredientes que você tem aí na sua casa!</p>
    <input type="button" id="fbLogin" class="btn primary" value="Login with Facebook"/>
    <a href="javascript:void(0)"><span id="signup-span" class="link shadow">crie já sua conta</span></a><span style="text-decoration: none;" class="link shadow">ou faça</span><a href="javascript:void(0)" class="link"><span id="login-span" class="shadow">login</span></a>
    <div id="signup-modal" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <h3>Cadastre-se!</h3>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="nome" /> <br /> <br />
            <input type="email" placeholder="email" /> <br /> <br />
            <input type="password" placeholder="password" /> <br />
        </div>
        <div class="modal-footer">
            <button class="btn success" id="signup">Cadastrar</button>
            <button class="btn secondary" id="signup-cancel">Cancelar</button>
        </div>
    </div>
    <div id="login-modal" class="modal hide fade" role="dialog">
        <div class="modal-header">
            <h3>Login</h3>
        </div>
        <div class="modal-body">
            <input type="email" placeholder="email" /> <br /> <br />
            <input type="password" placeholder="password" /> <br />
        </div>
        <div class="modal-footer">
            <button class="btn success" id="login">Entrar</button>
            <button class="btn secondary" id="login-cancel">Cancelar</button>
        </div>
    </div>

</section>


