<section id="main-content">
    <h1>Receitas da Vovó</h1>
    <p>Aqui você consegue as melhores receitas </p>
    <p>usando apenas os ingredientes que você tem aí na sua casa!</p>
    <input type="button" class="btn primary" value="Login with Facebook"/> <a href="javascript:void(0)"><span id="cad-span">ou crie já sua conta</span></a>
<div id="signup-modal" class="modal hide fade" role="dialog">
    <div class="modal-header">
        <h3>Cadastre-se!</h3>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="nome" /> <br /> <br />
        <input type="email" placeholder="email" /> <br /> <br />
        <input type="password" placeholder="password" /> <br />
    </div>
    <div class="modal-footer">
        <button class="btn success">Cadastrar</button>
        <button class="btn secondary">Cancelar</button>
    </div>
</div>

</section>


