<h6>footer</h6>
<!--<div class="row" id="footer">
    <section class="footer-box span3"></section>
    <section class="footer-box span3"></section>
    <section class="footer-box span3"></section>
</div> -->

