<div class="modal hide fade" id="modal">
  {{{content}}}
  <div class="modal-footer">
    <button class="btn success" id="ok">Cadastrar</button>
    <button class="btn secondary" id="cancel">Cancelar</button>
  </div>
</div>