<div class="modal-header">
  <h3>Cadastrar Usuário</h3>
</div>
<div class="modal-body">
  <input id="name" type="text" placeholder="nome"/> <br> <br>
  <input id="email" type="text" placeholder="e-mail"/> <br> <br>
  <input id="password" type="password" placeholder="password"/> <br> <br> 
</div>
