<div id="new-recipe-modal" class="modal hide fade" role="dialog">
    <div class="modal-header">
        <h3>Nova receita</h3>
    </div>
    <div class="modal-body">
        <input id="recipe-name" type="text" placeholder="Nome da Receita" /> <br/><br/>
        <input id="recipe-description" type="text" placeholder="Descrição" /> <br/><br/>
        <textarea id="recipe-preparation" placeholder="Modo de preparo" /> <br/><br />
    </div>
    <div class="modal-footer">
        <button class="btn success" id="new-recipe-ok">OK</button>
        <button class="btn" id="new-recipe-cancel">Cancelar</button>
    </div>
</div>
<h4><a href="javascript:void(0)" id="new-recipe" class="box shadow" >Criar receita</a></h4>
