<div id="new-ingredient-modal" class="modal hide fade" role="dialog">
    <div class="modal-header">
        <h3>Novo Ingrediente</h3>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="nome do ingrediente"/>
    </div>
    <div class="modal-footer">
        <button class="btn success" id="new-ingredient-ok">OK</button>
        <button class="btn" id="new-ingredient-cancel">Cancelar</button>
    </div>
</div>