<section class="box">
    <a href="javascript:void(0)"><h2 id="user" class="shadow">Usuários</h2></a>
    <ul id="user-options" class="shadow" style="list-style: none;">
        <li id="new-user"><a href="javascript:void(0)"><h3 class="shadow"> Criar Usuário</h3></a></li>
        <li id="list-users"><a href="javascript:void(0)"><h3 class="shadow"> Listar Usuários</h3></a></li>
    </ul>
    <hr />
    <a href="javascript:void(0)"><h2 id="recipe" class="shadow">Receitas</h2></a>
    <ul id="recipe-options" class="shadow" style="list-style: none;">
        <li id="new-recipe"><a href="javascript:void(0)"><h3 class="shadow">Criar Receita</h3></a></li>
        <li id="list-recipe"><a href="javascript:void(0)"><h3 class="shadow"> Listar Receitas</h3></a></li>
    </ul>
    <hr />
    <a href="javascript:void(0)"><h2 id="ingredient" class="shadow">Ingredientes</h2></a>
    <ul id="ingredient-options" class="shadow" style="list-style: none;">
        <li id="new-ingredient"><a href="javascript:void(0)"><h3 class="shadow">Criar Ingredientes</h3></a></li>
        <li id="list-ingredient"><a href="javascript:void(0)"><h3 class="shadow"> Listar Ingredientes</h3></a></li>
    </ul>
    <hr />
</section>
<div class="mod box-shadow" id="new-user-modal">
    <h3>Cadastrar usuário</h3>
    <input id="name" type="text" placeholder="nome"/>
    <input id="email" type="text" placeholder="e-mail"/>
    <input id="password" type="password" placeholder="password"/>
    <input id="password2" type="password" placeholder="password"/>
    <input id="user-cancel" class="btn" type="button" value="Cancelar"/>
    <input id="user-ok" class="btn success" type="button" value="Cadastrar"/>
</div>
<div class="mod box-shadow" id="list-user-modal">
    <h3>Usuários</h3>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
        </tr>
    </table>
</div>

<div class="mod box-shadow" id="new-recipe-modal">
    <h3>Cadastrar usuário</h3>
    <input id="name" type="text" placeholder="nome"/>
    <input id="email" type="text" placeholder="e-mail"/>
    <input id="password" type="password" placeholder="password"/>
    <input id="password2" type="password" placeholder="password"/>
    <input id="user-cancel" class="btn" type="button" value="Cancelar"/>
    <input id="user-ok" class="btn success" type="button" value="Cadastrar"/>
</div>
<div class="mod box-shadow" id="new-ingredient-modal">
    <h3>Cadastrar usuário</h3>
    <input id="name" type="text" placeholder="nome"/>
    <input id="email" type="text" placeholder="e-mail"/>
    <input id="password" type="password" placeholder="password"/>
    <input id="password2" type="password" placeholder="password"/>
    <input id="user-cancel" class="btn" type="button" value="Cancelar"/>
    <input id="user-ok" class="btn success" type="button" value="Cadastrar"/>
</div>

