<div id="recipe-modal" class="modal hide fade" role="dialog">
    <div class="modal-header">
        <h3>{{name}}</h3>
        <span class="shadow">{{likes}} Likes</span>
        <a href="javascript:void(0)">Curtir</a>
    </div>
    <div class="modal-body">
        <h4>Modo de preparo:</h4>
        <p>{{preparation}}</p>

        <h4>Ingredientes:</h4>
        {{#each ingredients}}
            <p>{{this}}</p>
        {{/each}}
    </div>
    <div class="modal-footer">
        <!--        <button class="btn success" id="recipe-ok">OK</button> -->
    </div>
</div>

