<section class="box recipe-box">
    <h2 class="shadow"><a href="javascript:void(0)" class="recipe-name">{{name}}</a></h2>
    <div id="recipe-content">
        <span class="shadow">{{likes}} Likes</span>
        <a id="like" href="javascript:void(0)">Curtir</a>
            <i class="icon-thumbs-up"></i>
        <div class="recipe-body">
            <p class="shadow">{{description}}</p>
        </div>
    </div>
</section>

