<div id="signup-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3>Cadastre-se!</h3>
    </div>
    <div class="modal-body">
        <input type="nome" placeholder="nome" /> <br /> <br />
        <input type="email" placeholder="email" /> <br /> <br />
        <input type="password" placeholder="password" /> <br />
    </div>
    <div class="modal-footer">
        <button class="btn primary">Cadastrar</button>
        <button class="btn secondary">Cancelar</button>
    </div>
</div>
