<div class="mod box-shadow" id="list-user-modal">
    <h3>Usuários</h3>
    <table>
        <% 
        _.each(users, function(user) {
            <td>user.name</td>
        });
        %>
        <tr>
        </tr>
    </table>
</div>
