

<td id="current-user-id">{{id}}</td>
<td id="current-user-name" class="editable">{{name}}</td>
<td id="current-user-email" class="editable">{{email}}</td>
<td>
  <a href="javascript:void(0)" id="excluir">Excluir</a>
</td>